<div class="float-left left">
  <a routerLink="/home">
    <img
      src="https://i.imgur.com/dYo5Z7w.png"
      class="img-fluid logo"
      alt="Revature Logo"
    />
    <p id="homeLink">Return to Home</p>
  </a>
  <nav class="nav flex-column navbar">
    <br />
    <br />
    <span>Here are some helpful tips:</span>
    <br />
    <br />
    <p>Click on the dropdown to select a particular SWOT analysis.</p>
    <br />
    <p>
      Click on "Change SWOT Description" to modify the selected SWOT's
      description.
    </p>
    <br />
    <p>Click on the SWOT analysis items to update or delete them.</p>
    <br />
    <p>Click on "Delete SWOT" at the bottom to delete the SWOT as a whole</p>
    <br />
  </nav>
  <app-toast-message></app-toast-message>
</div>

<div
  id="display-box-info"
  class="row align-items-center justify-content-center"
  *ngIf="currentSwotAnalysis"
>
  <h5>SWOT Analysis Info:</h5>
  <div
    *ngFor="let swotItem of currentSwotAnalysis.analysisItems; first as isFirst;"
  >
    <p *ngIf="isFirst">
      Associate: {{currentSwotAnalysis.associate.firstName}}
      {{currentSwotAnalysis.associate.lastName}}
    </p>
    <p *ngIf="isFirst">Manager ID: {{currentSwotAnalysis.manager.id}}</p>
    <p *ngIf="isFirst">
      Created On: {{currentSwotAnalysis.createdOn | date:'short':'EST'}}
    </p>
    <p *ngIf="isFirst">
      Last Modified: {{currentSwotAnalysis.lastModified | date:'short':'EST'}}
    </p>
  </div>
</div>

<section
  class="Form my-4 mx-5 right row align-items-center justify-content-center"
>
  <div class="container">
    <select id="selectSwot" [(ngModel)]="currentSwotAnalysis">
      <ng-container *ngFor="let swotAnalysis of swotAnalyses.reverse()">
        <option
          *ngIf="swotAnalysis.analysisItems.length > 0"
          [ngValue]="swotAnalysis"
        >
          {{swotAnalysis.description}} ({{swotAnalysis.createdOn |
          date:'short':'EST'}})
        </option>
      </ng-container>
    </select>
    <br />
    <button class="btn toggle-btn" (click)="changeDescription()">
      Change SWOT Description
    </button>

    <table *ngIf="currentSwotAnalysis" id="swot-table">
      <tr>
        <td class="table-data">
          <div class="card" style="width: 20rem">
            <h5 class="card-title">Strength</h5>
            <div class="card-body">
              <div class="btn-group-vertical">
                <ng-container
                  *ngFor="let swotItem of currentSwotAnalysis.analysisItems"
                >
                  <button
                    *ngIf="swotItem.type == 'STRENGTH'"
                    class="btn toggle-btn"
                    (click)="openUpdatePage(swotItem, currentSwotAnalysis.id)"
                  >
                    {{swotItem.name}}
                  </button>
                </ng-container>
              </div>
            </div>
            <button
              type="submit"
              class="btn toggle-btn circle-btn"
              (click)="addItemStrength()"
            >
              +
            </button>
          </div>
        </td>
        <td class="table-data">
          <div class="card" style="width: 20rem">
            <div class="card-body">
              <h5 class="card-title">Weakness</h5>
              <div class="btn-group-vertical">
                <ng-container
                  *ngFor="let swotItem of currentSwotAnalysis.analysisItems"
                >
                  <button
                    *ngIf="swotItem.type == 'WEAKNESS'"
                    class="btn toggle-btn"
                    (click)="openUpdatePage(swotItem, currentSwotAnalysis.id)"
                  >
                    {{swotItem.name}}
                  </button>
                </ng-container>
              </div>
              <button class="btn toggle-btn circle-btn" (click)="addItemWeak()">
                +
              </button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="table-data">
          <div class="card" style="width: 20rem">
            <div class="card-body">
              <h5 class="card-title">Opportunity</h5>
              <div class="btn-group-vertical">
                <ng-container
                  *ngFor="let swotItem of currentSwotAnalysis.analysisItems"
                >
                  <button
                    *ngIf="swotItem.type == 'OPPORTUNITY'"
                    class="btn toggle-btn"
                    (click)="openUpdatePage(swotItem, currentSwotAnalysis.id)"
                  >
                    {{swotItem.name}}
                  </button>
                </ng-container>
              </div>
              <button class="btn toggle-btn circle-btn" (click)="addItemOpp()">
                +
              </button>
            </div>
          </div>
        </td>
        <td class="table-data">
          <div class="col-sm-4 scroll">
            <div class="card" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title">Threat</h5>
                <div class="btn-group-vertical">
                  <ng-container
                    *ngFor="let swotItem of currentSwotAnalysis.analysisItems"
                  >
                    <button
                      *ngIf="swotItem.type == 'THREAT'"
                      class="btn toggle-btn"
                      (click)="openUpdatePage(swotItem, currentSwotAnalysis.id)"
                    >
                      {{swotItem.name}}
                    </button>
                  </ng-container>
                </div>
                <button
                  class="btn toggle-btn circle-btn"
                  (click)="addItemThreat()"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <button class="btn toggle-btn" (click)="toggleConfirmDelete()">
      Delete SWOT</button
    ><br />
    <span>
      <button
        class="btn toggle-btn"
        (click)="deleteSwot()"
        [ngStyle]="{'visibility':confirmDeleteVisibility}"
      >
        Confirm
      </button>
      <button
        class="btn toggle-btn"
        (click)="toggleConfirmDelete()"
        [ngStyle]="{'visibility':confirmDeleteVisibility}"
      >
        Cancel
      </button>
    </span>
  </div>
</section>
