*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  background: var(--dark-white);
}

.row{
  background: var(--white);
  box-shadow: 12px 12px 22px grey;
}

img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover{
  background: var(--white);
  border: 1px solid;
  color: var(--black);
}

.modal-content {
  width: 600px !important;
}

.nav-link{
  color: var(--white);
}

.nav-link:hover{
  color: var(--light-gray);
}