<div class="container" *ngIf='formExists'>
    <div class="row no-gutters">
        <div class="col-lg-12 px-5 pt-5">
            <h1 class="font-weight-bold py-3"><u>Update Associate</u></h1>
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <h4 class="font-weight-bold py-3" id="assocId">Associate ID: {{associateId}}</h4>
                    <input type="text" placeholder="Enter New Associate ID" class="form-control my-2 p-2" id="newAssoc"
                        disabled>
                    <!-- For future implementation -->
                </div>
                <div class="form-row">
                    <h4 class="font-weight-bold py-3" id="batchId">Current Batch ID: {{curBatchId}}</h4>
                    <input type="text" placeholder="Enter New Batch ID" class="form-control my-2 p-2"
                        [formControlName]="'inputedBatchId'" id="newBatch" required>
                </div>
                <h4 class="font-weight-bold py-3" id="assocStatus">Current Status: {{curStatusId}}</h4>
                <div class="form-row">
                    <select name="status" id="status" [formControlName]="'newStatusId'">
                        <option value="0" [selected]="curStatusId == 'STAGING'">STAGING</option>
                        <option value="1" [selected]="curStatusId == 'PROJECT'">PROJECT</option>
                        <option value="2" [selected]="curStatusId == 'RELEASED'">RELEASED</option>
                    </select>

                </div>
                <div class="form-row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn1 mt-3 mb-5" value="promote">UPDATE ASSOCIATE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>